.carrusel {
    margin: auto;
    width: 90%;
    min-height: 200px;
    overflow: hidden;
    margin-bottom: 30px;
}

.cont {
    display: flex;
    transform: translateX(-100%);
}

.cont img {
    margin: 0.5%;
    min-width: 60%;
    min-height: 200px;
}
